{% extends "base.html" %}
{% block title %}NurseRank: Home{% endblock %}
{% block content %}
<main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Welcome to NurseRank!</h1>
          <p class="lead text-body-secondary">A quick and easy way to manage YOUR rank on the ladder (gonna need ur help on this one mom).</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Sign Up</a>
            <a href="#" class="btn btn-secondary my-2">Or Log In</a>
          </p>
        </div>
      </div>
    </section>
  </main>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}