{% extends "base.html" %}
{% block title %}NurseRank: Log In{% endblock %}
{% block content %}

<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
<main class="form-signin w-100 m-auto" style="max-width: 500px;">
<form>
  <h1 class="fw-light" style="margin-bottom: 15px;">Welcome to NurseRank!</h1>
  
  <div class="row mb-3">
    <div class="col-6">
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingFirstName" placeholder="First Name">
        <label for="floatingFirstName" style="color: var(--bg2)">First Name</label>
      </div>
    </div>
    <div class="col-6">
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingLastName" placeholder="Last Name">
        <label for="floatingLastName" style="color: var(--bg2)">Last Name</label>
      </div>
    </div>
  </div>

  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com">
    <label for="floatingEmail" style="color: var(--bg2)">Email</label>
  </div>

  <div class="form-floating mb-3">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword" style="color: var(--bg2)">Password</label>
  </div>

  <div class="form-check text-start my-3">
    <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      Remember me
    </label>
  </div>

  <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
</form>
</main>
{% endblock %}
